/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
/*button,textarea*/
input,
select {
	font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
}

.masthead {
    padding: 1em 1em;
    background-color: #0D1B2E;
    color: white;
}

.masthead h1 {
    text-align: center;
}

.intro {
    padding: 1em 1em;
    color: #ffffff;
    background: grey;
    text-align: center;
}

/*------------------------------------------------*/
#status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.open {
  color: green;
}

.closed {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  overflow-y: scroll;
  height:300px; 
}

.sent {
}

.holder{
	background-color: rgba(45, 179, 111, 0.35);
    column-span: initial;
    margin-left: 50%;
    border-radius: 10px;
    padding: 0px 10px 5px 10px;
}

.sentr {
	background-color: white;
    background-size: initial;
    margin-left: 50%;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px 5px 10px;
}

.sents {
	background-color: rgba(45, 179, 111, 0.35);
    background-size: initial;
    margin-left: 50%;
    border-radius: 10px 10px 0px 0px;
}

.received {
	
}

.receivedholder {
	background-color: white;
    background-size: initial;
    width: 50%;
    border-radius: 10px;
    padding: 0px 10px 5px 10px;
}

.receivedreply {
	background-color: rgba(45, 179, 111, 0.35);
    column-span: initial;
    width: 50%;
    border-radius: 10px 10px 0px 0px;
}

.receivedtime{
	text-align: right;
	float : right;
}

.msgcontent{
	color : black;
	white-space: normal;
    font: 13.3333px Arial;
    text-transform: none;
    display: initial;
}
/*padding: 0.5rem 0.75rem;*/
ul li {
  border-bottom: 1px solid #EEE;
  margin: 5px;
}

ul li:first-child {
  border-top: 1px solid #EEE;
}
/*letter-spacing: 1px;width: 90px;*/
ul li span {
  display: inline-block;
  font-weight: bold;
  color: #999;
  font-size: 0.7rem;
  text-transform: uppercase;
}

textarea {
  margin: 0 auto;
  max-width: 550px;		
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

input {
	border: 5px solid grey;
    border-radius: 10px;
    font-size: 1rem;
    padding: 4px;
}

button {
  width: 80px;		
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}

button[type="submit"] {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}
/*--------------------------------------------------*/

.intro p,
.test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

.test-wrapper {
    border: 5px solid grey;
    border-radius: 10px;
}

#origin-text {
    margin: 1em 0;
    padding: 1em 1em 0;
    background-color: #ededed;
    border-radius: 10px;
    border: 5px solid gray;
}

#origin-text p {
    margin: 0;
    padding-bottom: 1em;
}

.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
}

.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer {
    font-size: 3em;
    font-weight: bold;
}

/* #join {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white ;
    border: 5px solid #E95D0F;
}

#join:hover {
    color: white;
    background-color: #E95D0F;
}

#send {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white ;
    border: 5px solid #E95D0F;
}

#send:hover {
    color: white;
    background-color: #E95D0F;
}

#leave {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #E95D0F;
    background: white ;
    border: 5px solid #E95D0F;
}

#leave:hover {
    color: white;
    background-color: #E95D0F;
} */